<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jogo_galo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Jogo_galo.Properties.Settings>
            <setting name="btn1" serializeAs="String">
                <value />
            </setting>
            <setting name="btn2" serializeAs="String">
                <value />
            </setting>
            <setting name="btn3" serializeAs="String">
                <value />
            </setting>
            <setting name="btn4" serializeAs="String">
                <value />
            </setting>
            <setting name="btn5" serializeAs="String">
                <value />
            </setting>
            <setting name="btn6" serializeAs="String">
                <value />
            </setting>
            <setting name="btn7" serializeAs="String">
                <value />
            </setting>
            <setting name="btn8" serializeAs="String">
                <value />
            </setting>
            <setting name="btn9" serializeAs="String">
                <value />
            </setting>
            <setting name="btn1e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn2e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn3e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn4e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn5e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn6e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn7e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn8e" serializeAs="String">
                <value />
            </setting>
            <setting name="btn9e" serializeAs="String">
                <value />
            </setting>
            <setting name="svenc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sjog" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tht" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="contjog" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sling" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nomjog1" serializeAs="String">
                <value>jogador1</value>
            </setting>
            <setting name="nomjog2" serializeAs="String">
                <value>jogador2</value>
            </setting>
            <setting name="tb1e" serializeAs="String">
                <value />
            </setting>
            <setting name="tb2e" serializeAs="String">
                <value />
            </setting>
            <setting name="ssec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="smin" serializeAs="String">
                <value>0</value>
            </setting>
        </Jogo_galo.Properties.Settings>
    </userSettings>
</configuration>